# Dash Planning and Design

# Imports

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Load Data

Had to load it in parts as having it as 1 file was too big for GitHub.

In [2]:
df_1 = pd.read_csv('CSV_Datasets/4_Superstore_Modified_v2/1_Superstore_Datamart_2015_Modified_v2.csv')
df_2 = pd.read_csv('CSV_Datasets/4_Superstore_Modified_v2/2_Superstore_Datamart_2015_Modified_v2.csv')
df_3 = pd.read_csv('CSV_Datasets/4_Superstore_Modified_v2/3_Superstore_Datamart_2015_Modified_v2.csv')

# Concatenate the Dataset Parts Together

In [3]:
# Did it this way to be able to easily reset the dataframe if needed.
full_df = pd.concat([df_1,df_2,df_3])
df = full_df

# Handy Functions

In [4]:
def display_all(df):     # For any Dataframe df
   with pd.option_context('display.max_rows',10000): # Change number of rows accordingly
      with pd.option_context('display.max_columns',100): # Change number of columns accordingly
          display(df)

In [5]:
def Output_full_display(aggregate_data):
    formatted_values = aggregate_data.apply(lambda x: "{:,.2f}".format(x))
    return formatted_values

# Checking the data

In [6]:
df.head().transpose()

,0,1,2,3,4
RETAIL_ID,1,2,3,4,5
ORDER_ID,1,2,3,4,5
ORDER_KEYS,1,2,3,4,5
ORDER_DATE,01/01/2010,01/01/2010,01/01/2010,01/01/2010,01/01/2010
ORDER_MONTH_NAME,January,January,January,January,January
ORDER_YEAR,2010,2010,2010,2010,2010
SHIP_MODE,Standard Class,Second Class,First Class,First Class,First Class
SHIP_DATE,08/01/2010,04/01/2010,02/01/2010,02/01/2010,02/01/2010
SHIP_MONTH_NAME,January,January,January,January,January
SHIP_YEAR,2010,2010,2010,2010,2010
CUSTOMER_ID,9310,108,8690,2278,9006
FIRST_NAME,Freddie,Brian,William,Grant,Bryson
LAST_NAME,Elliott,DeCherney,Owen,Spencer,Jackson
FULL_NAME,Freddie Elliott,Brian DeCherney,William Owen,Grant Spencer,Bryson Jackson
POSTAL_ID,70,556,573,42,419
POSTAL_CODE,14304,92592,93534,7109,76106
CITY,Niagara Falls,Temecula,Lancaster,Belleville,Fort Worth
STATE,New York,California,California,New Jersey,Texas
REGION,East,West,West,East,Central
COUNTRY,United States,United States,United States,United States,United States
PRODUCT_ID,887,582,543,1821,1821
CATEGORY,Office Supplies,Office Supplies,Office Supplies,Technology,Technology
SUB_CATEGORY,Envelopes,Art,Art,Phones,Phones
PRODUCT_NAME,Wausau Papers Astrobrights Colored Envelopes,Newell 336,Hunt BOSTON Model 1606 High-Volume Electric Pe...,Samsung Galaxy S4 Active,Samsung Galaxy S4 Active
BRAND_NAME,Wausau,Newell,Hunt,Samsung,Samsung
PRODUCT_PRICE_ID,887,582,543,1821,1821
PRODUCT_UNIT_PRICE,5.9,4.2,166.95,499.99,499.99
PRODUCT_COST_PRICE,3.37,3.38,153.04,369.99,369.99
PRODUCT_DISCOUNT_PERCENTAGE,0.02,0.02,0.0,0.02,0.02
PRODUCT_DISCOUNT_AMOUNT,0.118,0.084,0.0,9.9998,9.9998
PRODUCT_DISCOUNTED_UNIT_PRICE,5.782,4.116,166.95,489.9902,489.9902
QUANTITY,8,7,6,9,9
TOTAL_DISCOUNT_AMOUNT,0.944,0.588,0.0,89.9982,89.9982
TOTAL_UNIT_AMOUNT,47.2,29.4,1001.7,4499.91,4499.91
GROSS_PROFIT_UNIT_AMOUNT,20.24,5.74,83.46,1170.0,1170.0
TOTAL_DISCOUNTED_UNIT_AMOUNT,46.256,28.812,1001.7,4409.9118,4409.9118
GROSS_PROFIT_DISCOUNTED_UNIT_AMOUNT,19.296,5.152,83.46,1080.0018,1080.0018
IS_DISCOUNTED,1,1,0,1,1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 983892 entries, 0 to 327890
Data columns (total 38 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   RETAIL_ID                            983892 non-null  int64
 1   ORDER_ID                             983892 non-null  int64
 2   ORDER_KEYS                           983892 non-null  int64
 3   ORDER_DATE                           983892 non-null  object
 4   ORDER_MONTH_NAME                     983892 non-null  object
 5   ORDER_YEAR                           983892 non-null  int64
 6   SHIP_MODE                            983892 non-null  object
 7   SHIP_DATE                            983892 non-null  object
 8   SHIP_MONTH_NAME                      983892 non-null  object
 9   SHIP_YEAR                            983892 non-null  int64
 10  CUSTOMER_ID                          983892 non-null  int64
 11  FIRST_NAME                           983892 non-null  object
 12  LAST_NAME                            983892 non-null  object
 13  FULL_NAME                            983892 non-null  object
 14  POSTAL_ID                            983892 non-null  int64
 15  POSTAL_CODE                          983892 non-null  int64
 16  CITY                                 983892 non-null  object
 17  STATE                                983892 non-null  object
 18  REGION                               983892 non-null  object
 19  COUNTRY                              983892 non-null  object
 20  PRODUCT_ID                           983892 non-null  int64
 21  CATEGORY                             983892 non-null  object
 22  SUB_CATEGORY                         983892 non-null  object
 23  PRODUCT_NAME                         983892 non-null  object
 24  BRAND_NAME                           983892 non-null  object
 25  PRODUCT_PRICE_ID                     983892 non-null  int64
 26  PRODUCT_UNIT_PRICE                   983892 non-null  float64
 27  PRODUCT_COST_PRICE                   983892 non-null  float64
 28  PRODUCT_DISCOUNT_PERCENTAGE          983892 non-null  float64
 29  PRODUCT_DISCOUNT_AMOUNT              983892 non-null  float64
 30  PRODUCT_DISCOUNTED_UNIT_PRICE        983892 non-null  float64
 31  QUANTITY                             983892 non-null  int64
 32  TOTAL_DISCOUNT_AMOUNT                983892 non-null  float64
 33  TOTAL_UNIT_AMOUNT                    983892 non-null  float64
 34  GROSS_PROFIT_UNIT_AMOUNT             983892 non-null  float64
 35  TOTAL_DISCOUNTED_UNIT_AMOUNT         983892 non-null  float64
 36  GROSS_PROFIT_DISCOUNTED_UNIT_AMOUNT  983892 non-null  float64
 37  IS_DISCOUNTED                        983892 non-null  int64
dtypes: float64(10), int64(12), object(16)
memory usage: 292.8+ MB

In [8]:
df.shape

(983892, 38)

## Change Data Types [If Any]

In [9]:
df['POSTAL_CODE'] = df['POSTAL_CODE'].astype(str)

In [10]:
df['ORDER_DATE'] = pd.to_datetime(df['ORDER_DATE'], format="%d/%m/%Y")

In [11]:
df['SHIP_DATE'] = pd.to_datetime(df['SHIP_DATE'], format="%d/%m/%Y")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 983892 entries, 0 to 327890
Data columns (total 38 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   RETAIL_ID                            983892 non-null  int64
 1   ORDER_ID                             983892 non-null  int64
 2   ORDER_KEYS                           983892 non-null  int64
 3   ORDER_DATE                           983892 non-null  datetime64[ns]
 4   ORDER_MONTH_NAME                     983892 non-null  object
 5   ORDER_YEAR                           983892 non-null  int64
 6   SHIP_MODE                            983892 non-null  object
 7   SHIP_DATE                            983892 non-null  datetime64[ns]
 8   SHIP_MONTH_NAME                      983892 non-null  object
 9   SHIP_YEAR                            983892 non-null  int64
 10  CUSTOMER_ID                          983892 non-null  int64
 11  FIRST_NAME                           983892 non-null  object
 12  LAST_NAME                            983892 non-null  object
 13  FULL_NAME                            983892 non-null  object
 14  POSTAL_ID                            983892 non-null  int64
 15  POSTAL_CODE                          983892 non-null  object
 16  CITY                                 983892 non-null  object
 17  STATE                                983892 non-null  object
 18  REGION                               983892 non-null  object
 19  COUNTRY                              983892 non-null  object
 20  PRODUCT_ID                           983892 non-null  int64
 21  CATEGORY                             983892 non-null  object
 22  SUB_CATEGORY                         983892 non-null  object
 23  PRODUCT_NAME                         983892 non-null  object
 24  BRAND_NAME                           983892 non-null  object
 25  PRODUCT_PRICE_ID                     983892 non-null  int64
 26  PRODUCT_UNIT_PRICE                   983892 non-null  float64
 27  PRODUCT_COST_PRICE                   983892 non-null  float64
 28  PRODUCT_DISCOUNT_PERCENTAGE          983892 non-null  float64
 29  PRODUCT_DISCOUNT_AMOUNT              983892 non-null  float64
 30  PRODUCT_DISCOUNTED_UNIT_PRICE        983892 non-null  float64
 31  QUANTITY                             983892 non-null  int64
 32  TOTAL_DISCOUNT_AMOUNT                983892 non-null  float64
 33  TOTAL_UNIT_AMOUNT                    983892 non-null  float64
 34  GROSS_PROFIT_UNIT_AMOUNT             983892 non-null  float64
 35  TOTAL_DISCOUNTED_UNIT_AMOUNT         983892 non-null  float64
 36  GROSS_PROFIT_DISCOUNTED_UNIT_AMOUNT  983892 non-null  float64
 37  IS_DISCOUNTED                        983892 non-null  int64
dtypes: datetime64[ns](2), float64(10), int64(11), object(15)
memory usage: 292.8+ MB

In [13]:
df.head()

,RETAIL_ID,ORDER_ID,ORDER_KEYS,ORDER_DATE,ORDER_MONTH_NAME,ORDER_YEAR,SHIP_MODE,SHIP_DATE,SHIP_MONTH_NAME,SHIP_YEAR,...,PRODUCT_DISCOUNT_PERCENTAGE,PRODUCT_DISCOUNT_AMOUNT,PRODUCT_DISCOUNTED_UNIT_PRICE,QUANTITY,TOTAL_DISCOUNT_AMOUNT,TOTAL_UNIT_AMOUNT,GROSS_PROFIT_UNIT_AMOUNT,TOTAL_DISCOUNTED_UNIT_AMOUNT,GROSS_PROFIT_DISCOUNTED_UNIT_AMOUNT,IS_DISCOUNTED
0,1,1,1,2010-01-01,January,2010,Standard Class,2010-01-08,January,2010,...,0.02,0.1180,5.7820,8,0.9440,47.20,20.24,46.2560,19.2960,1
1,2,2,2,2010-01-01,January,2010,Second Class,2010-01-04,January,2010,...,0.02,0.0840,4.1160,7,0.5880,29.40,5.74,28.8120,5.1520,1
2,3,3,3,2010-01-01,January,2010,First Class,2010-01-02,January,2010,...,0.00,0.0000,166.9500,6,0.0000,1001.70,83.46,1001.7000,83.4600,0
3,4,4,4,2010-01-01,January,2010,First Class,2010-01-02,January,2010,...,0.02,9.9998,489.9902,9,89.9982,4499.91,1170.00,4409.9118,1080.0018,1
4,5,5,5,2010-01-01,January,2010,First Class,2010-01-02,January,2010,...,0.02,9.9998,489.9902,9,89.9982,4499.91,1170.00,4409.9118,1080.0018,1

# Checking to see if BRAND_NAME is 0

In [14]:
# Checking for any Nulls in the Dataset.
df.isnull().sum()

RETAIL_ID                              0
ORDER_ID                               0
ORDER_KEYS                             0
ORDER_DATE                             0
ORDER_MONTH_NAME                       0
ORDER_YEAR                             0
SHIP_MODE                              0
SHIP_DATE                              0
SHIP_MONTH_NAME                        0
SHIP_YEAR                              0
CUSTOMER_ID                            0
FIRST_NAME                             0
LAST_NAME                              0
FULL_NAME                              0
POSTAL_ID                              0
POSTAL_CODE                            0
CITY                                   0
STATE                                  0
REGION                                 0
COUNTRY                                0
PRODUCT_ID                             0
CATEGORY                               0
SUB_CATEGORY                           0
PRODUCT_NAME                           0
BRAND_NAME                             0
PRODUCT_PRICE_ID                       0
PRODUCT_UNIT_PRICE                     0
PRODUCT_COST_PRICE                     0
PRODUCT_DISCOUNT_PERCENTAGE            0
PRODUCT_DISCOUNT_AMOUNT                0
PRODUCT_DISCOUNTED_UNIT_PRICE          0
QUANTITY                               0
TOTAL_DISCOUNT_AMOUNT                  0
TOTAL_UNIT_AMOUNT                      0
GROSS_PROFIT_UNIT_AMOUNT               0
TOTAL_DISCOUNTED_UNIT_AMOUNT           0
GROSS_PROFIT_DISCOUNTED_UNIT_AMOUNT    0
IS_DISCOUNTED                          0
dtype: int64

# The Start of the Timeline Dashboard for Dash

## What kind of variation timeline to make

**Filters needed:**
- By Year
- By Discount or not
- By Brand Name

**Total Order Quantity Over Time:**
- Plot the quantity of products sold per brand  **(QUANTITY)** over the timeline **(ORDER_DATE)**.

**Total Gross Profit Over Time:**
- Show the total gross profit per brand **(GROSS_PROFIT_UNIT_AMOUNT)** over the timeline **(ORDER_DATE)**.

**Total Order Volume Over Time:**
- Plot the volume of orders made per brand **COUNT(GROSS_PROFIT_UNIT_AMOUNT)** over the timeline **(ORDER_DATE)**.